<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.equalexperts.mybatisimport.MyDataMapper">
    <select id="selectMyData" parameterType="int" resultType="MyData">
      select * from my_data where id = #{id}
    </select>

    <select id="selectAll" resultType="MyData">
        select * from my_data
    </select>
</mapper>